* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}

body {
    background-color: rgb(247, 249, 250);
}

/* intestazione */
header {
    padding: 20px;
    background-color: white;
}

h1 {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
}

#logo-boolean {
    line-height: 50px;
    vertical-align: middle;
}

/* container */
#container {
    background-color: white;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    padding-bottom: 50px;
}

main {
    margin: 50px;
}


/* style parte nav */
nav {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-bottom: 2px solid rgb(247, 249, 250);
}
#button-task {
    background-color: rgb(70, 173, 242);
    color: white;
    padding: 5px;
    border: 2px solid rgb(70, 173, 242) ;
    border-radius: 5px;
}

#button-section {
    background-color: white;
    color: rgb(208, 213, 217);
    padding: 5px;
    border: 2px solid rgb(208, 213, 217);
    border-radius: 5px;
}


/* parte principale */
.subtitle {
    color: rgb(63, 67, 77);
    margin-bottom: 5px;
}

.subtitle::before {
    content: "\25BE";
}

/* task general */

.task {
    margin-bottom: 20px;
}

.task::before {
    border: 2px solid;
    border-radius: 50%;
    margin-right: 7px;
    padding: 5px;
}

.task::after {
    color: white;
    font-size: 10px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
}

/* done, not-done */
.task.done::before {
    content: "\2714";
    color: rgb(158, 217, 204);
    border-color: rgb(158, 217, 204);
}

.task.not-done::before {
    content: "\2718";
    color:rgb(235, 77, 66);
    border-color: rgb(235, 77, 66);
}

/* prima e seconda section */
.task.editorial::after {
    content: "Editorial";
    background-color: rgb(68, 171, 235);
}

.task.goals::after {
    content: "Q1 Goals";
    background-color: rgb(155, 113, 227);
}

.task.recruiting::after {
    content: "Recruiting";
    background-color: rgb(99, 191, 168);
}

.task.mobile::after {
    content: "Mobile";
    background-color: rgb(242, 159, 51);
}

/* terza section */
.task.website::after {
    content: "Website";
    background-color: rgb(217, 98, 161);
}

.task.sales::after {
    content: "Sales";
    background-color: rgb(177, 201, 38);
} 